<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 读取外部配置文件.properties ->使用方法： value = "${key}"-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--
    <context:property-placeholder location="classpath:jdbc.properties, classpath:xxx.properties"/> 多个用逗号隔开，仅支持properties
    -->


    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${com.xd.url}"/>
        <property name="driverClassName" value="${com.xd.driver}"/>
        <property name="username" value="${com.xd.username}"/>
        <property name="password" value="${com.xd.password}"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="studentDao" class="com.com.xd.dao.impl.StudentDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="studentService" class="com.com.xd.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>
    <bean id="studentController" class="com.com.xd.controller.StudentController">
        <property name="service" ref="studentService"/>
    </bean>
</beans>